<nav class="navbar shadow bg-body-tertiary bg-black ">
  <div class="container-fluid">
    <span class="navbar-text text-light">
      {{pageTittle}}
    </span>
    <span class="navbar-text text-light">
      <span class="links">
        <a href="new" class="link-light">
          ADD SURVEY
        </a>
      </span >
           |
      <span class="links">
        <a href="view" class="link-light">
          REPORT
        </a>
      </span>
           |
      <span class="links">
        <a href="#" class="link-light">
          MY SURVEYS
        </a>
      </span>

    </span>
  </div>
</nav>
